@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/indigo.css';
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/violet.css';

@import '@radix-ui/colors/greenDark.css';
@import '@radix-ui/colors/mauveDark.css';
@import '@radix-ui/colors/slateDark.css';
@import '@radix-ui/colors/violetDark.css';
@import '@radix-ui/colors/indigoDark.css';
@import '@radix-ui/colors/purpleDark.css';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--slate1));
}

a {
  color: inherit;
  text-decoration: none;
}

textarea {
  border: none;
  padding: 0;
  margin: 0;
  resize: none;
  outline: none;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}